@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&family=Murecho:wght@300;400;500;600&display=swap');
//break point
$breakpoint_xs: 414px;
$breakpoint_sp: 768px;
$breakpoint_tl: 1024px;
$breakpoint_md: 1440px;
$breakpoint_lg: 1920px;

$txtbox-width_1-3: 30%;
$txtbox-width_2-5: 40%;
$txtbox-width_1-2: 50%;
$txtbox-width_3-5: 60%;
$txtbox-width_4-5: 80%;
//%
$_1-10: 10%;
$_3-20: 15%;
$_1-5: 20%;
$_1-4: 25%;
$_3-10: 30%;
$_1-3: 33%;
$_2-5: 40%;
$_1-2: 50%;
$_3-5: 60%;
$_2-3: 66.6%;
$_7-10: 70%;
$_3-4: 75%;
$_4-5: 80%;
$_9-10: 90%;
$_1-1: 100%;
// color
$main: #17448a;
$sub: #d9222a;
$bg_color: #fff9fb;
$yellow: #f0c987;
$green: #94bba0;
$--w-sidebar: 72px;

@mixin dropShadow($sd: #666) {
  border-radius: calc(100vw * 8 / 1920);
  box-shadow: 3px 3px 10px $sd;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serifsans-serif;
  font-weight: 500;
  // color: #777;
  &::-webkit-scrollbar {
    display: none;
  }
}
header,
footer,
p,
img,
a,
ul,
li,
h1,
h2,
h3,
section,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;
  color: $main;
}
html {
  font-size: calc(100vw * 16 / 1920);
  line-height: 1.5;
  letter-spacing: 0.2em;
  background-color: $bg_color;
}
button {
  cursor: pointer;
  background: none;
  color: #fff;
  display: block;
}
h1 {
  font-size: calc(100vw * 96 / 1920);
  line-height: 1.2;
  text-align: center;
  margin-bottom: calc(100vw * 60 / 1920);
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    width: calc(100vw * 52 / 1920);
    height: calc(100vw * 40 / 1920);
    background: url(./../images/icon-red.png) center no-repeat;
    margin-left: calc(100vw * 40 / 1920);
    background-size: contain;
  }
  &::before {
    content: '';
    background: url('./../images/handwrite.svg') center no-repeat;
    display: inline-block;
    width: calc(100vw * 120 / 1920);
    height: calc(100vw * 60 / 1920);
    position: absolute;
    transform: translate(-20px, 10px);
  }
  @media screen and (max-width: $breakpoint_md) {
  }
}
h2 {
  font-size: calc(100vw * 96 / 1920);
  color: #fff;
  font-weight: 700;
  margin-bottom: calc(100vw * 120 / 1920);
}
h3 {
  margin: calc(100vw * 16 / 1920) 0;
  font-size: calc(100vw * 48 / 1920);
  font-weight: 700;
}
p {
  font-size: calc(100vw * 16 / 1920);
}
p.desc {
  display: block;
  margin: 0 auto;
  font-size: calc(100vw * 20 / 1920);
  text-align: center;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
ul,
li {
  list-style-type: none;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: $--w-sidebar;
  background: #fff;
  nav {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &::before {
      content: '';
      width: calc(100vw * 80 / 1920);
      height: calc(100vw * 100 / 1920);
      background: #fff;
      border-radius: 50%;
      left: 50%;
      position: absolute;
    }
    .icon {
      img {
        z-index: 100;
        position: relative;
      }
    }
    .menu-toggle {
      transition: all 0.3s;
      span {
        width: calc(100vw * 40 / 1920);
        height: 2px;
        background: $main;
        display: block;
        margin: 8px 0;
      }
      &.open {
        transform: rotate(90deg);
        span {
          margin: 0;
          height: 1px;
        }
      }
    }
    .reserve {
      width: 100%;
      height: calc(100vw * 240 / 1920);
      background: $sub;
    }
  }
}
.popup-menu {
  position: fixed;
  width: 50%;
  height: 100vh;
  font-size: calc(100vw * 60 / 1920);
  z-index: 200;
  background: $yellow;
  padding: calc(100vw * 100 / 1920) calc(100vw * 200 / 1920);
  .popup-menu__item {
    transition: all 0.3s;
    &:hover {
      opacity: 0.5;
    }
  }
}
.popup-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 200;
  background: $yellow;
  opacity: 0.5;
}
main {
  padding-left: $--w-sidebar;
  width: 100%;
  position: relative;
}
// mv
.mv {
  width: 100%;
  height: 100vh;
  opacity: 1;
  position: relative;
  &::after,
  &::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
  }
  // mask
  &::after {
    background: rgba($color: #000000, $alpha: 0.3);
    top: 0;
  }
  &::before {
    background: url(./../images/logo_white_max.png) center no-repeat;
    background-size: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .mv-img {
    height: 100vh;
    background: center no-repeat;
    background-size: cover;
  }
}
// section
section {
  padding: calc(100vw * 120 / 1920) 0 0 0;
  position: relative;
}
.wrapper {
  width: $_7-10;
  margin: 0 auto;
  @media screen and (max-width: $breakpoint_md) {
    width: $_3-4;
  }
  .contents {
    padding: calc(100vw * 120 / 1920) 0;
    // padding-top: calc(100vw * 120 / 1920);
    // margin-bottom: calc(100vw * 120 / 1920);
  }
}
// about
#about {
  .contents {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .about-slide {
    width: $_1-1;
    position: relative;
    .about-img {
      height: calc(100vw * 634 / 1920);
      background: center no-repeat;
      background-size: cover;
      border-radius: calc(100vw * 8 / 1920);
    }
    &::after {
      content: 'FROM café de PARIS';
      display: inline-block;
      color: $sub;
      font-size: calc(100vw * 20 / 1920);
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(90deg) translate(50%, -500%);
    }
  }

  .slick-dots {
    text-align: left;
    bottom: calc(100vw * -44 / 1920);
    li {
      margin: 0 1rem;
      button {
        &:before {
          content: '';
          background: url(./../images/icon-red.png) center no-repeat;
          opacity: 0.5;
          width: calc(100vw * 26 / 1920);
          height: calc(100vw * 20 / 1920);
          background-size: contain;
          transition: 0.5s all;
        }
      }
      &.slick-active {
        button {
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  .text-cont {
    position: relative;
    top: calc(100vw * -160 / 1920);
    right: calc(100vw * -80 / 1920);
    align-self: flex-end;
    .text-cont_box {
      width: calc(100vw * 860 / 1920);
      padding: calc(100vw * 60 / 1920);
      background: #fff;
      @include dropShadow(#ddd);
      .about-desc {
        color: $sub;
        font-size: calc(100vw * 24 / 1920);
      }
    }
  }
}
// news
#news {
  .contents {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }
  .news-main {
    position: relative;
    width: calc(100vw * 1084 / 1920);
    align-self: flex-end;
    img {
      border-radius: calc(100vw * 8 / 1920);
    }
  }
  .news-sub {
    width: calc(100vw * 327 / 1920);
    position: absolute;
    top: calc(100vw * 800 / 1920);
    left: calc(100vw * 920 / 1920);
    img {
      border-radius: calc(100vw * 8 / 1920);
    }
  }
  .news-cont {
    position: relative;
    top: calc(100vw * -60 / 1920);
    background: #fff;
    width: calc(100vw * 840 / 1920);
    padding: calc(100vw * 60 / 1920);
    @include dropShadow(#ddd);
    .news-list {
      margin: calc(100vw * 60 / 1920) 0;
      border-top: 1px solid $yellow;

      li {
        padding: calc(100vw * 20 / 1920) calc(100vw * 24 / 1920);
        border-bottom: 1px solid $yellow;
        display: flex;
        align-items: center;
        letter-spacing: 0;
        span {
          color: $sub;
          width: calc(100vw * 100 / 1920);
        }
        a {
          &:hover {
            opacity: 0.6;
            transition: all 0.3;
          }
        }
      }
    }
  }
}
// menu
#menu {
  height: 100vh;
  p.desc {
    width: calc(100vw * 746 / 1920);
  }
  .menu-box {
    height: 100vh;
    width: $_1-1;
    overflow-y: hidden;
    overflow-x: scroll;
    position: absolute;
    top: 0;
    .menu-contents {
      display: flex;
      height: 100vh;
      align-items: flex-end;
      width: max-content;
      .menu-img {
        margin-right: calc(100vw * 100 / 1920);
      }
      img {
        position: relative;
        @media screen and (max-width: $breakpoint_md) {
        }
      }
    }
  }
}
// info
#info {
  background: $yellow;
  padding: 0;
  margin: calc(100vw * 120 / 1920) 0 0 0;
  &::after {
    background: $yellow;
    width: calc(100vw * 440 / 1920);
  }
  &::before {
    background: $yellow;
    width: calc(100vw * 210 / 1920);
  }
  .contents {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: calc(100vw * -330 / 1920);
  }
  .info-main {
    width: calc(100vw * 1084 / 1920);
    height: calc(100vw * 611 / 1920);
    position: relative;
    iframe {
      border-radius: calc(100vw * 8 / 1920);
    }
    &::after {
      content: 'Welcome to café de PARIS !!';
      color: $sub;
      position: absolute;
      left: 0;
      bottom: calc(100vw * -30 / 1920);
      font-size: calc(100vw * 20 / 1920);
    }
  }
  .info-cont {
    position: relative;
    top: calc(100vw * -330 / 1920);
    align-self: flex-end;
    background: #fff;
    width: calc(100vw * 408 / 1920);
    padding: calc(100vw * 48 / 1920);
    @include dropShadow(#ddd);
    span {
      font-size: calc(100vw * 20 / 1920);
      color: $sub;
      font-weight: 500;
    }
    p {
      margin: calc(100vw * 24 / 1920) 0 calc(100vw * 48 / 1920) 0;
    }
    button {
      color: $green;
      margin: 0 auto;
    }
  }
}
#info::after {
  content: '';
  height: calc(100vw * 80 / 1920);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-60%, -100%);
  border-radius: 30px 30px 0 0;
}
#info::before {
  content: '';
  position: absolute;
  height: calc(100vw * 170 / 1920);
  border-radius: 50%;
  left: 50%;
  transform: translate(35%, -15%);
  z-index: -1;
}
// camp
#campaign {
  background: $green;
  padding: 0;
  margin: calc(100vw * 120 / 1920) 0 0 0;

  &::after {
    background: $green;
    width: calc(100vw * 650 / 1920);
  }
  &::before {
    background: $green;
    width: calc(100vw * 210 / 1920);
  }
  .canvas {
    width: calc(100vw * 1076 / 1920);
    height: calc(100vw * 627 / 1920);
    background: url(./../images/pic/desk.png) no-repeat center;
    overflow: hidden;
    background-size: cover;
    border: 4px $yellow solid;
    position: relative;
    img {
      width: auto;
      position: absolute;
    }
  }
  button {
    border: #fff solid 2px;
    border-radius: calc(100vw * 48 / 1920);
    padding: calc(100vw * 24 / 1920) calc(100vw * 48 / 1920);
  }
  .btn-group {
    display: flex;
    margin-top: calc(100vw * 60 / 1920);
  }
  .result-group {
    position: fixed;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 200;
    border-radius: calc(100vw * 8 / 1920);
    .result-btn {
      display: flex;
      justify-content: space-evenly;
      margin-top: calc(100vw * 48 / 1920);
    }
    button {
      background: $green;
      border: $green solid 2px;
    }
  }
  .campaign-list {
    width: calc(100vw * 400 / 1920);
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    img {
      opacity: 0.5;
      transition: all 0.3s;
      &.on {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
#campaign::after {
  content: '';
  height: calc(100vw * 80 / 1920);
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-60%, -100%);
  border-radius: 30px 30px 0 0;
}
#campaign::before {
  content: '';
  position: absolute;
  height: calc(100vw * 170 / 1920);
  border-radius: 50%;
  left: 50%;
  transform: translate(35%, -15%);
  z-index: -1;
}
#last {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  background-image: url(../images/pic/img001.jpg);
  button {
    border-radius: calc(100vw * 48 / 1920);
    padding: calc(100vw * 24 / 1920) calc(100vw * 48 / 1920);
    background: $sub;
    margin-bottom: calc(100vw * 120 / 1920);
  }
}
// footer
footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: calc(100vw * 60 / 1920);
  background: rgba($color: $main, $alpha: 0.7);

  p {
    color: #fff;
  }
}
// keyframe
@keyframes text {
  0% {
    color: #aaa;
  }
  33% {
    color: #777;
  }
  66% {
    color: #aaa;
  }
  100% {
    color: #777;
  }
}
@keyframes btnClick {
  0% {
    opacity: 1;
    transform: translate(0, -50%) scale(0.3, 0.6);
  }
  60% {
    transform: translate(0, -50%) scale(1, 2);
    opacity: 0.1;
  }
  90% {
    transform: translate(0, -50%) scale(0.5, 1);
  }
  100% {
    opacity: 0.5;
  }
}
